@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header div.descuento{
    background-color: #1CD1B0;
    font-size: 15px;
    padding: 10px;
}

header div.nombre-tienda{
    background-color: #00669F;
    color: white;
    font-size: 30px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
}

header div.nombre-tienda p{
    position: relative;
    left: 20px;
}

header div.menu-nav{
    background: #001D2D;
    box-shadow: 0px 5px rgba(0,0,0,0.2);
    color: #ffffff;
    padding: 10px 20px 10px 10px;
}

header div.menu-nav nav{
    display: flex;
    justify-content: flex-end;
}

header div.menu-nav nav ul{
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

header div.menu-nav nav ul li a{
    color: white;
    text-decoration: none;
}

header div.menu-nav nav ul li a:hover{
    color: gray;
}

section{
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    border-radius: 16px;
    height: 590px;
    margin: 10px;
    width: 300px;
}

.cover-photo{
    border-radius: 16px 16px 0px 0px;
    padding: 16px 21px 150px;
    height: 193px;
    width: 300px;
}

.avatar{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: relative;
    left: 90px;
    bottom: 60px;
}

.fas.fa-heart{
    color: #CC2424;
    font-size: 30px;
}

.info{
    background-color: #F3F3F3;
    box-shadow: 0px 5px 3px grey;
    font-weight: 400;
    height: 397px;
    position: relative;
    bottom: 120px;
    z-index: -1;
}

.info h3{
    font-size: 24px;
    padding-top: 80px;
    text-align: center;
}

.info p{
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 16px;
    text-align: left;
    margin-top: 10px;  
}

.buttonMore{
    background-color: #00669F;
    border: none;
    color:#F3F3F3;
    font-size: 15px;
    align-self: center;
    text-align: center;
    width: 130px;
    padding: 15px 10px;
    position: absolute;
    bottom: 10px;
    left: 85px;
}

.cover-photo.batman{
    background-image: url(../img/background-batman.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar.batman{
    background-image: url(../img/avatar-batman.png);
}

.cover-photo.wonder-woman{
    background-image: url(../img/background-wonder-woman.png);
    background-repeat: no-repeat;
}

.avatar.wonder-woman{
    background-image: url(../img/avatar-wonder-woman.png);
}

.cover-photo.superman{
    background-image: url(../img/background-superman.png);
    background-repeat: no-repeat;
}

.avatar.superman{
    background-image: url(../img/avatar-superman.png);
}

.cover-photo.harley{
    background-image: url(../img/background-harley.png);
    background-repeat: no-repeat;
}

.avatar.harley{
    background-image: url(../img/avatar-harley.png);
}

h3.titleBatman, h3.titleWonderWoman, h3.titleSuperman{
    text-transform: uppercase;
}

button.add{
    background-color: #00669F;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 80%;
    right: 10px;
}

button:hover{
    background-color: #001D2D;
    cursor: pointer;
}

footer{
    background-color: #00669F;
    color: #FFF9F9;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

footer p{
    width: 60vw;
    text-align: right;
}

footer img{
    width: 83px;
    height: 23px;
}

main form{
    height: 400px;
    margin: 225px 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main form div{
    display: flex;
    flex-direction: column;
}

main form h1{
    font-size: 72px;
    align-self: flex-start;
}

main form div.register{
    height: 140px;
    width: 100%;
    justify-content: space-between;
}

main form div input, main form div select{
    border: solid 1.5px black;
    text-indent: 10px;
    width: 100%;
    height: 60px;
}

main form div.login-link{
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

main form div.login-link button{
    background: #1CD1B0;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    height: 50px;
    width: 100%;
}

main form div.login-link div button.shortButton{
    width: 47.5%;
}

main form div.login-link div button:nth-child(1){
    background:#888888;
    color: white;
}

main form div.login-link button:hover{
    background-color: #001D2D;
    color: white;
    cursor: pointer;
}

main form div.login-link button[type="reset"]:hover{
    background-color: #001D2D;
    color: white;
    cursor: pointer;
}

main form div.login-link p a{
    text-decoration: none;
}

main form#registro{
    height: 575px;
    margin: 125px 25%;
}

main form div.newUser{
    height: 300px;
}

main form div.login-link div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main form#contact-us{
    height: 640px;
    margin: 125px 25%;
}

main form div.contacto{
    height: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main form textarea{
    height: 250px;
}

main form#add-character{
    background: #00669F;
    border-radius: 50px;
    color: white;
    height: 832px;
    width: 80%;
    margin: 40px 10%;
    padding: 0px 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main form#add-character div.encabezado{
    width: 100%;
    display: flex;
    align-items: center;
}

main form#add-character div.formulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main form#add-character div.formulario div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main form#add-character div select, main form#add-character div input{
    border: none;
    border-radius: 15px;;
    text-indent: 10px;
    width: 400px;
    height: 60px;
}

main form#add-character div textarea{
    border: none;
    width: 400px;
    text-indent: 10px;
}

main form#add-character div input[type="checkbox"], main form#add-character div input[type="radio"]{
    width: auto;
}

main form#add-character div.parte-3 div.select-characteristics{
    width: 400px;
}

main form#add-character div.parte-3 div.select-characteristics h4{
    font-weight: lighter;
    font-size: 20px;
}

main form#add-character div.parte-3 div.select-characteristics div.characteristic{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

main form#add-character div.parte-3 div.select-characteristics div.characteristic span{
    position: relative;
    left: 5px;
}

main form#add-character button{
    background: #1CD1B0;
    border: none;
    border-radius: 25px;
    font-size: 40px;
    font-weight: 700;
    height: 85px;
    width: 50%;
}

main form#add-character button:hover{
    background-color: #001D2D;
    color: white;
    cursor: pointer;
}

@media (max-width: 1125px){
    section{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 736px){
    section{
        margin-top: 10px;
    }

    main form, main form#registro, main form#contact-us{
        margin-left: 12.5%;
        margin-right: 12.5%;
        width: 75%;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 570px){
    footer p{
        font-size: 0.7rem;
    }
}